.info, .jsoninput, .json{
 width:70%;
 height:400px;
 background-color:#F7F7F7;
position:relative;
}
.json{
width:70%;
height:100px;
}

p{
font:16px Arial, Helvetica, sans-serif;
width:70%;
}

pre{
font:16px;
width:70%;
}


.block{

 width:130px;
    height:70px;
	text-align: center;

font:16px Arial, Helvetica, sans-serif;
border:1px solid;

position: absolute;
 display: table;
	}
  

.level1{
background-color:#3385AD;
 color:#ffffff;
 border-color:#599CFF;
}

.level1_important{
background-color:#1F5068;
}

.level1_minor{
background-color:#7996A4;
}

.level2{
background-color:#FFFFCC;
 border-color:#CC7A29;
 color:#663D14;
}
.level2_important{
background-color:#FFFF99;
}
.level2_minor{
background-color:#FFFFFF;
}


.level3{
background-color:#D6EBFF;
 color:	#2E3D4C;
}
.level3_important{
background-color:#99CCFF;
}
.level3_minor{
background-color:#FCFEFF;
}




.label{
display: table-cell;
vertical-align: middle;
}