.info{
 width:70%;
 max-width:1000px;
 height:400px;
 background-color:#F7F7F7;
position:relative;
}


#input{
width:80%;
height:300px;

}
#output{
width:80%;
height:500px;
 position:relative;
}


p{
font:16px Arial, Helvetica, sans-serif;
width:70%;
 max-width:1000px;
}

pre{
font:16px;
width:70%;
 max-width:1000px;
}


.block{

 width:130px;
    height:70px;
	text-align: center;

font:16px Arial, Helvetica, sans-serif;
border:1px solid #ccc;

position: absolute;
 display: table;


    -webkit-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.24);
	   -moz-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.24);
	        box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.24);


	}

.arrow{
 position:absolute;
 border:1px solid;
 -webkit-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.54);
 -moz-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.54);
 box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.54);

}	


.uparrow {
   width: 0; 
   height: 0; 
   border-bottom: 10px solid; 
   border-left: 10px solid transparent !important;
   border-right: 10px solid transparent !important;
   position:absolute;
}

.downarrow {
   width: 0; 
   height: 0; 
   border-top: 10px solid; 
   border-left: 10px solid transparent !important;
   border-right: 10px solid transparent !important;
   position:absolute;
}


.leftarrow {
   width: 0; 
   height: 0; 
   border-right: 10px solid; 
   border-top: 10px solid transparent !important;
   border-bottom: 10px solid transparent !important;
   position:absolute;}
   
.rightarrow {
   width: 0; 
   height: 0; 
   border-left: 10px solid; 
   border-top: 10px solid transparent !important;
   border-bottom: 10px solid transparent !important;
   position:absolute;}

  .arrow_level_1{
border-color:#3385AD;
}
  .arrow_level_2{
border-color:#CC7A29;
}
  
.block_level_1{
background-color:#3385AD;
 color:#ffffff;
 border-color:#7AB0FF;
 text-shadow: -1px -1px #7AB0FF, 1px 1px #333;
}

.block_level_1_important{
background-color:#1F5068;
}

.block_level_1_minor{
background-color:#7996A4;
}

.block_level_1_many{
-webkit-box-shadow: 10px 10px 0px #3385AD;
-moz-box-shadow:    10px 10px 0px #3385AD;
box-shadow:         10px 10px 0px #3385AD;
}

.block_level_2{
background-color:#FFFFCC;
 border-color:#CC7A29;
 color:#663D14;
  text-shadow: -1px -1px #CC7A29, 1px 1px #333;
}
.block_level_2_important{
background-color:#FFFF99;
}
.block_level_2_minor{
background-color:#FFFFFF;
}

.block_level_2_many{
-webkit-box-shadow: 10px 10px 0px #FFFFCC;
-moz-box-shadow:    10px 10px 0px #FFFFCC;
box-shadow:         10px 10px 0px #FFFFCC;
}



.block_level_3{
background-color:#D6EBFF;
 color:	#2E3D4C;
 border-color:#3385AD;
 text-shadow: -1px -1px #3385AD, 1px 1px #333;
}
.block_level_3_important{
background-color:#99CCFF;
}
.block_level_3_minor{
background-color:#FCFEFF;
}

.block_level_3_many{
-webkit-box-shadow: 10px 10px 0px #D6EBFF;
-moz-box-shadow:    10px 10px 0px #D6EBFF;
box-shadow:         10px 10px 0px #D6EBFF;
}


.label{
display: table-cell;
vertical-align: middle;
}